<h3>お気に入り一覧</h3>
<table>
  <thead>
      <tr>
        <th>名前</th>
        <th>投稿</th>
      </tr>
  </thead>
  <tbody>
    <% @user.favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.user.name %></td>
        <td><%= favorite.recruitment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '投稿一覧画面に戻る', recruitments_path %>