/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.space {
    height: 60px;
}

.login-page {
    margin: auto;
    max-width: 50%;
    padding: 40px;
    text-align: center;
    min-width :450px;
    margin-top: 50px;
  }

  .field-01 {
    margin: auto;
    max-width: 50%;
    min-width :250px;
    text-align: center;
  }

  .field-02 {
    margin: auto;
    max-width: 65%;
    min-width :250px;
    text-align: center;
  }

  .field03 {
    margin: auto;
    max-width: 65%;
    min-width :250px;
    text-align: center;
  }



  .actions-01 {
    margin-top: 10px;
  }

  .searchbtn {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  .user_edit_page {
    margin: auto;
    max-width: 65%;
    min-width :250px;
    text-align: center;
  }

  .field04 {
    max-width: 75%;
  }

  .btnspace {
    margin-top: 20px;
  }

  .rounded {
    border: 1px solid;
    margin: auto;
    max-width: 80%;
    text-align: left;
  }

  .icon {
    width:80px;
    height: 80px;
    margin-left: 30px;
    text-align: left;
  }

  .name {
    margin-left: 10px;

  }

  .btnshow {
    text-align: right;
  }

  .imgtext {
    max-width: 400px;
    max-height: 200px;
  }

  .user-show {
    margin: auto;
    max-width: 50%;
    min-width :250px;
    border: 1px solid;
    max-width: 80%;
    margin-top: 20px;
    border-radius: 10px;
  }

  .user-1 {
    margin-left: 30px;
    margin-top: 10px;
  }

  .usershow-icon {
    margin-top: 5px;
    margin-left: 10px;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
  }

  .message {
    margin-left: 70%;
  }

  .userindexcomment {
    text-align: center;
    word-break: break-all;
    margin-left: 110px;
    margin-right: 110px;
  }

  .indexusername {
    margin-left: 10px;
  }

  .followbtn {
    margin-left: 10px;
  }

  .item {
    margin: auto;
    min-width :250px;
    border: 1px solid;
    max-width: 80%;
    margin-top: 20px;
    border-radius: 10px;
  }

  .item01 {
    margin-left: 58px;

  }

  .timespace {
    text-align: right;
    margin-right: 50px;
  }

  .field001 {
    margin-top: 50px;
  }

  .messageall {
    max-width: 80%;
    margin: auto;
  }

.btnshitaspace {
    margin-bottom: 200px;
}

.reeditpage {
  max-width: 80%;
  margin: auto;
  margin-bottom: 200px;
}

.titlespace {
  margin-top: 20px;
  margin-left: 20px;
}

.reshowpage {
  max-width: 80%;
  margin: auto;
  margin-bottom: 200px;
}

.imgsize {
  max-width: 400px;
  max-height: 200px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.reshospaceup {
  margin-top: 30px;
}

.reshowkakoi {
  margin: auto;
  min-width :250px;
  border: 1px solid;
  max-width: 90%;
  margin-top: 20px;
  border-radius: 10px;
}

.commentupspace {
  margin-top: 10px;
}

.showleftmargin {
  margin-left: 20px;
}

.btnspace002 {
  margin-left: 30px;
}

.p-space {
  margin-bottom: 0;
}

ul.pagination {
  width: 400px;
  margin: auto;
}